{%extends "general_layout.html"%}
{%block content%}
<!-- Page Content -->
<div class="page-content">

    <!--=====================================-->
    <!--=        Newsfeed  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="block-box user-single-blog">
            <div class="blog-thumbnail">
                <img src="/static/media/blog/blog_10.jpg" alt="Blog">
            </div>
            <div class="blog-content-wrap">
                <div class="blog-comment-form">
                    <h3 class="item-title">{{subject}}</h3>
                    <form method="post">
                        {{form.hidden_tag()}}
                        <div class="row gutters-20">
                            <div class="col-lg-4 form-group">
                                <!--input type="text" name="name" class="form-control" placeholder="Name"-->
                                {{form.title(class="form-control",placeholder="Title")}}
                            </div>
                            <div class="col-lg-12 form-group">
                                <!--textarea name="message" id="message" class="form-control textarea" placeholder="Comments" cols="30" rows="7"></textarea-->
                                {{form.content(class="form-control textarea",placeholder="Content",cols="30",rows="20")}}
                            </div>
                            <div class="col-lg-12 form-group">
                                <input type="submit" class="submit-btn" value="发布文章">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}