{%extends "general_layout.html"%}
{%block content%}
<!-- Page Content -->
<div class="page-content">
    <!--=====================================-->
    <!--=        Newsfeed  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="block-box user-single-blog">
            <div class="blog-content-wrap">
                <div class="blog-entry-header">
                    <div class="entry-category">
                        <a href="#">Community</a>
                        <a href="#">Inspiration</a>
                    </div>
                    <h2 class="entry-title">{{blog.title}}</h2>
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <ul class="entry-meta">
                                <li>
                                    <img src="../static/media/figure/chat_7.jpg" alt="Chat">
                                    By <a href="#">{{blog.author.username}}</a>
                                </li>
                                <li><i class="icofont-calendar"></i> 15 October, 2020</li>
                                <li><i class="icofont-comment"></i> Comments: 05</li>
                                <li><i class="icofont-share"></i> Share: 02</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="blog-share">
                                <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                                <li><a href="#" class="bg-youtube"><i class="icofont-youtube"></i></a></li>
                                <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="blog-content">
                    <p class = "article-content">
                        {{blog.content}}
                    </p>
                    {%if blog.author == current_user%}
                        <div>
                            <a class="btn btn-secondary btn-sm m-1" href="/blogs/{{blog.id}}/update">
                                更新文章
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#exampleModal">
                                删除文章
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">警告</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    删除操作是不可逆的，您确定要删除文章吗？
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                    <form action="{{url_for('blogs.delete_blog',blog_id = blog.id)}}" method="post" >
                                        <input class = "btn btn-danger" type="submit" value="删除">
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                    {%endif%}
                </div>
                <div class="blog-footer">
                    <div class="item-label">Choose your <span>Reaction!</span></div>
                    <div class="reaction-icon">
                        <a href="#"><img src="../static/media/figure/reaction_1.png" alt="Like"></a>
                        <a href="#"><img src="../static/media/figure/reaction_6.png" alt="Like"></a>
                        <a href="#"><img src="../static/media/figure/reaction_2.png" alt="Like"></a>
                        <a href="#"><img src="../static/media/figure/reaction_7.png" alt="Like"></a>
                        <a href="#"><img src="../static/media/figure/reaction_3.png" alt="Like"></a>
                        <a href="#"><img src="../static/media/figure/reaction_5.png" alt="Like"></a>
                    </div>
                </div>
                <div class="blog-comment-form">
                    <h3 class="item-title">Leave a Comment</h3>
                    <form>
                        <div class="row gutters-20">
                            <div class="col-lg-4 form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="email" name="email" class="form-control" placeholder="E-mail">
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="text" name="website" class="form-control" placeholder="website">
                            </div>
                            <div class="col-lg-12 form-group">
                                <textarea name="message" id="message" class="form-control textarea" placeholder="Comments" cols="30" rows="7"></textarea>
                            </div>
                            <div class="col-lg-12 form-group">
                                <input type="submit" class="submit-btn" name="post-comment" value="Post Comment">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="realated-blog">
            <div class="block-box blog-heading">
                <h3 class="heading-title">Related Blog Posts</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-box user-blog">
                        <div class="blog-img">
                            <a href="#"><img src="../static/media/blog/blog_4.jpg" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-category">
                                <a href="#">Community</a>
                                <a href="#">Inspiration</a>
                            </div>
                            <h3 class="blog-title"><a href="#">Spoke with the developer sety 2020 Gaming Area</a></h3>
                            <div class="blog-date"><i class="icofont-calendar"></i> 15 October, 2020</div>
                            <p>when ann unknown printer took galley type and scrambled it to make aretype specimen book has survived not only.</p>
                        </div>
                        <div class="blog-meta">
                            <ul>
                                <li class="blog-reaction">
                                    <div class="reaction-icon">
                                        <img src="../static/media/figure/reaction_1.png" alt="icon">
                                        <img src="../static/media/figure/reaction_2.png" alt="icon">
                                        <img src="../static/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">+ 15 others</div>
                                </li>
                                <li><i class="icofont-comment"></i> 05</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-box user-blog">
                        <div class="blog-img">
                            <a href="#"><img src="../static/media/blog/blog_5.jpg" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-category">
                                <a href="#">Sporty</a>
                            </div>
                            <h3 class="blog-title"><a href="#">Spoke with the developer sety 2020 Gaming Area</a></h3>
                            <div class="blog-date"><i class="icofont-calendar"></i> 15 October, 2020</div>
                            <p>when ann unknown printer took galley type and scrambled it to make aretype specimen book has survived not only.</p>
                        </div>
                        <div class="blog-meta">
                            <ul>
                                <li class="blog-reaction">
                                    <div class="reaction-icon">
                                        <img src="../static/media/figure/reaction_1.png" alt="icon">
                                        <img src="../static/media/figure/reaction_2.png" alt="icon">
                                        <img src="../static/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">+ 15 others</div>
                                </li>
                                <li><i class="icofont-comment"></i> 05</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-box user-blog">
                        <div class="blog-img">
                            <a href="#"><img src="../static/media/blog/blog_6.jpg" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-category">
                                <a href="#">Community</a>
                                <a href="#">Inspiration</a>
                            </div>
                            <h3 class="blog-title"><a href="#">Spoke with the developer sety 2020 Gaming Area</a></h3>
                            <div class="blog-date"><i class="icofont-calendar"></i> 15 October, 2020</div>
                            <p>when ann unknown printer took galley type and scrambled it to make aretype specimen book has survived not only.</p>
                        </div>
                        <div class="blog-meta">
                            <ul>
                                <li class="blog-reaction">
                                    <div class="reaction-icon">
                                        <img src="../static/media/figure/reaction_1.png" alt="icon">
                                        <img src="../static/media/figure/reaction_2.png" alt="icon">
                                        <img src="../static/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">+ 15 others</div>
                                </li>
                                <li><i class="icofont-comment"></i> 05</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}