{%extends "general_layout.html"%}
{%block content%}
<!-- Page Content -->
<div class="page-content">
    <!--=====================================-->
    <!--=        Newsfeed  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="block-box user-single-blog">
            <div class="blog-content-wrap">
                <div class="blog-entry-header">
                    <h2 class="entry-title">{{blog.title}}</h2>
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <ul class="entry-meta">
                                <li>
                                    <img src="../static/media/figure/chat_7.jpg" alt="Chat">
                                    By <a href="#">{{blog.author.username}}</a>
                                </li>
                                <li><i class="icofont-calendar"></i> {{ blog.pub_date.strftime('%Y-%m-%d')}}</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="blog-share">
                                <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                                <li><a href="#" class="bg-youtube"><i class="icofont-youtube"></i></a></li>
                                <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="blog-content">
                    <p class = "article-content">
                        {{blog.content}}
                    </p>
                    {%if blog.author == current_user%}
                        <div>
                            <a class="btn btn-secondary btn-sm m-1" href="/blogs/{{blog.id}}/update">
                                更新文章
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#exampleModal">
                                删除文章
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">警告</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    删除操作是不可逆的，您确定要删除文章吗？
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                    <form action="{{url_for('blogs.delete_blog',blog_id = blog.id)}}" method="post" >
                                        <input class = "btn btn-danger" type="submit" value="删除">
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{%endblock%}