<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cirkle | User About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/../static/../static/media/favicon.png">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/icofont.min.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/slick-theme.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/sal.css">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../static/css/select2.min.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="../static/css/app.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
</head>

<body class="bg-link-water">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="icofont-bubble-up"></i>
    </a>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Top Header -->
        <header class="fixed-header">
            <div class="header-menu">
                <div class="navbar">
                    <div class="nav-item d-none d-sm-block">
                        <div class="header-logo">
                            <a href="index.html"><img src="../static/media/logo.png" alt="Cirkle"></a>
                        </div>
                    </div>
                    <div class="nav-item nav-top-menu">
                        <nav id="dropdown" class="template-main-menu">
                            <ul class="menu-content">
                                <li class="header-nav-item">
                                    <a href="index.html" class="menu-link active">Home</a>
                                </li>
                                <li class="header-nav-item">
                                    <a href="#" class="menu-link have-sub">Community</a>
                                    <ul class="mega-menu mega-menu-col-2">
                                        <li>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="newsfeed.html">NewsFeed</a>
                                                </li>
                                                <li>
                                                    <a href="user-timeline.html">Profile Timeline</a>
                                                </li>
                                                <li>
                                                    <a href="user-about.html">Profile About</a>
                                                </li>
                                                <li>
                                                    <a href="user-friends.html">Profile Friends</a>
                                                </li>
                                                <li>
                                                    <a href="user-groups.html">Profile Group</a>
                                                </li>
                                                <li>
                                                    <a href="user-photo.html">Profile Photo</a>
                                                </li>
                                                <li>
                                                    <a href="user-video.html">Profile Video</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="user-badges.html">Profile Badges</a>
                                                </li>
                                                <li>
                                                    <a href="forums.html">Forums</a>
                                                </li>
                                                <li>
                                                    <a href="forums-forum.html">Forums Topic</a>
                                                </li>
                                                <li>
                                                    <a href="forums-timeline.html">Forums Timeline</a>
                                                </li>
                                                <li>
                                                    <a href="forums-info.html">Forums Info</a>
                                                </li>
                                                <li>
                                                    <a href="forums-members.html">Forums Members</a>
                                                </li>
                                                <li>
                                                    <a href="forums-../static/media.html">Forums ../static/media</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-nav-item">
                                    <a href="#" class="menu-link have-sub">Pages</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="about-us.html">About</a>
                                        </li>
                                        <li>
                                            <a href="user-blog.html">Blog</a>
                                        </li>
                                        <li>
                                            <a href="shop.html">Shop</a>
                                        </li>
                                        <li>
                                            <a href="single-blog.html">Blog Details</a>
                                        </li>
                                        <li>
                                            <a href="single-shop.html">Shop Details</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav-item header-control">
                        <div class="inline-item d-none d-md-block">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search here.......">
                                <div class="input-group-append">
                                    <button class="submit-btn" type="button"><i class="icofont-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="inline-item d-flex align-items-center">
                            <div class="dropdown dropdown-cart">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icofont-shopping-cart"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="item-heading">
                                        <h6 class="heading-title">Shopping Cart: <span>3</span></h6>
                                    </div>
                                    <div class="item-body">
                                        <div class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/cart_1.jpg" alt="Product">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title"><a href="#">Black Coffee Mug</a></h6>
                                                <div class="item-category">COFFEE MUGS</div>
                                                <div class="item-price">$29 x 1</div>
                                                <div class="btn-area">
                                                    <a href="#" class="close-btn"><i class="icofont-ui-close"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/cart_2.jpg" alt="Product">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title"><a href="#">Head Phone</a></h6>
                                                <div class="item-category">Assets</div>
                                                <div class="item-price">$15 x 1</div>
                                                <div class="btn-area">
                                                    <a href="#" class="close-btn"><i class="icofont-ui-close"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/cart_3.jpg" alt="Product">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title"><a href="#">Black Watch</a></h6>
                                                <div class="item-category">Watch</div>
                                                <div class="item-price">$59 x 1</div>
                                                <div class="btn-area">
                                                    <a href="#" class="close-btn"><i class="icofont-ui-close"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-footer">
                                        <a href="#" class="view-btn">View All Product</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown dropdown-friend">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icofont-users-alt-4"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="item-heading">
                                        <h6 class="heading-title">Friend Requests</h6>
                                        <div class="heading-btn">
                                            <a href="#">Settings</a>
                                            <a href="#">Mark all as Read</a>
                                        </div>
                                    </div>
                                    <div class="item-body">
                                        <div class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/chat_5.jpg" alt="Notify">
                                                <span class="chat-status offline"></span>
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title"><a href="#">Lily Zaman</a></h6>
                                                <p>4 in mutual friends</p>
                                                <div class="btn-area">
                                                    <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                                                    <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/chat_1.jpg" alt="Notify">
                                                <span class="chat-status online"></span>
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title"><a href="#">Ketty Rose</a></h6>
                                                <p>3 in mutual friends</p>
                                                <div class="btn-area">
                                                    <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                                                    <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/chat_8.jpg" alt="Notify">
                                                <span class="chat-status online"></span>
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title"><a href="#">Rustom vai</a></h6>
                                                <p>6 in mutual friends</p>
                                                <div class="btn-area">
                                                    <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                                                    <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-footer">
                                        <a href="#" class="view-btn">View All Friend Request</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown dropdown-message">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icofont-speech-comments"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="item-heading">
                                        <h6 class="heading-title">Message</h6>
                                        <div class="heading-btn">
                                            <a href="#">Settings</a>
                                            <a href="#">Mark all as Read</a>
                                        </div>
                                    </div>
                                    <div class="item-body">
                                        <a href="#" class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/notifiy_1.png" alt="Notify">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title">Diana Jameson</h6>
                                                <div class="item-time">15 mins ago</div>
                                                <p>when are nknowen printer took galley of types ...</p>
                                            </div>
                                        </a>
                                        <a href="#" class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/notifiy_2.png" alt="Notify">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title">Quirty</h6>
                                                <div class="item-time">15 mins ago</div>
                                                <p>when are nknowen printer took galley of types ...</p>
                                            </div>
                                        </a>
                                        <a href="#" class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/notifiy_3.png" alt="Notify">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title">Zinia Jessy</h6>
                                                <div class="item-time">15 mins ago</div>
                                                <p>when are nknowen printer took galley of types ...</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item-footer">
                                        <a href="#" class="view-btn">View All Messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown dropdown-notification">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icofont-notification"></i><span class="notify-count">3</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="item-heading">
                                        <h6 class="heading-title">Notifications</h6>
                                        <div class="heading-btn">
                                            <a href="#">Settings</a>
                                            <a href="#">Mark all as Read</a>
                                        </div>
                                    </div>
                                    <div class="item-body">
                                        <a href="#" class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/notifiy_1.png" alt="Notify">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title">Diana Jameson</h6>
                                                <div class="item-time">15 mins ago</div>
                                                <p>when are nknowen printer took galley of types ...</p>
                                            </div>
                                        </a>
                                        <a href="#" class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/notifiy_2.png" alt="Notify">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title">Quirty</h6>
                                                <div class="item-time">15 mins ago</div>
                                                <p>when are nknowen printer took galley of types ...</p>
                                            </div>
                                        </a>
                                        <a href="#" class="../static/media">
                                            <div class="item-img">
                                                <img src="../static/media/figure/notifiy_3.png" alt="Notify">
                                            </div>
                                            <div class="../static/media-body">
                                                <h6 class="item-title">Zinia Jessy</h6>
                                                <div class="item-time">15 mins ago</div>
                                                <p>when are nknowen printer took galley of types ...</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item-footer">
                                        <a href="#" class="view-btn">View All Notification</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inline-item">
                            <div class="dropdown dropdown-admin">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <span class="../static/media">
                                        <span class="item-img">
                                            <img src="../static/media/figure/chat_5.jpg" alt="Chat">
                                            <span class="acc-verified"><i class="icofont-check"></i></span>
                                        </span>
                                        <span class="../static/media-body">
                                            <span class="item-title">Rebeca</span>
                                        </span>
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="admin-options">
                                        <li><a href="#">Profile Settings</a></li>
                                        <li><a href="user-groups.html">Groups</a></li>
                                        <li><a href="forums.html">Forums</a></li>
                                        <li><a href="#">Settings</a></li>
                                        <li><a href="#">Terms and Conditions</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="login.html">Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Page Content -->
        <div class="page-content">

            <!--=====================================-->
            <!--=        Newsfeed  Area Start       =-->
            <!--=====================================-->
            <div class="container">
                <div class="block-box user-search-bar justify-content-between">
                    <div class="box-item">
                        <div class="item-show-title">Total {{count}} Posts</div>
                    </div>
                    <div class="box-item search-filter">
                        <div class="dropdown">
                            <label>Order By:</label>
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Newest Post</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">All Post</a>
                                <a class="dropdown-item" href="#">Newest Post</a>
                                <a class="dropdown-item" href="#">Oldest Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-20">
                    {%for blog in blogs.items%}
                    <div class="col-lg-4 col-md-6">
                        <div class="block-box user-blog">
                            <div class="blog-img">
                                <a href="#"><img src="../static/media/blog/blog_4.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <a href="#">Community</a>
                                    <a href="#">Inspiration</a>
                                </div>
                                <h3 class="blog-title"><a href="/blogs/{{blog.id}}">{{blog.title}}</a></h3>
                                <div class="blog-date"><i class="icofont-calendar"></i> 发布于{{blog.pub_date.strftime('%Y-%m-%d')}}</div>
                            </div>
                            <div class="blog-meta">
                                <ul>
                                    <li class="blog-reaction">
                                        <div class="reaction-icon">
                                            <img src="../static/media/figure/reaction_1.png" alt="icon">
                                            <img src="../static/media/figure/reaction_2.png" alt="icon">
                                            <img src="../static/media/figure/reaction_3.png" alt="icon">
                                        </div>
                                        <div class="meta-text">+ 15 others</div>
                                    </li>
                                    <li><i class="icofont-comment"></i> 05</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% for page_num in blogs.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current = 2) %}
                    {% if page_num%}
                        {% if blogs.page == page_num%}
                            <a class = "btn btn-info mb-10" href="{{ url_for('blogs',page=page_num) }}">{{page_num}}</a>
                        {% else %}
                            <a class = "btn btn-outline-info mb-10" href="{{ url_for('blogs',page=page_num) }}">{{page_num}}</a>
                        {% endif %}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
            <!--=====================================-->
            <!--=        Footer Area Start       	=-->
            <!--=====================================-->
            <footer class="footer-wrap footer-dashboard">
                <div class="main-footer">
                    <div class="container">
                        <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                            <div class="col">
                                <div class="footer-box">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="../static/media/logo_dark.png" alt="Logo"></a>
                                    </div>
                                    <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-lg-center">
                                <div class="footer-box">
                                    <h3 class="footer-title">
                                        Important Links
                                    </h3>
                                    <div class="footer-link">
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">About us</a></li>
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="contact.html">Contacts</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-lg-center">
                                <div class="footer-box">
                                    <h3 class="footer-title">
                                        Community
                                    </h3>
                                    <div class="footer-link">
                                        <ul>
                                            <li><a href="newsfeed.html">NewsFeed</a></li>
                                            <li><a href="user-timeline.html">Profile</a></li>
                                            <li><a href="user-friends.html">Friends</a></li>
                                            <li><a href="user-groups.html">Groups</a></li>
                                            <li><a href="forums.html">Forums</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-lg-center">
                                <div class="footer-box">
                                    <h3 class="footer-title">
                                        Followers
                                    </h3>
                                    <div class="footer-link">
                                        <ul>
                                            <li><a href="https://www.facebook.com/">facebook</a></li>
                                            <li><a href="https://twitter.com/">twitter</a></li>
                                            <li><a href="https://www.instagram.com/">instagram</a></li>
                                            <li><a href="https://www.youtube.com/">Youtube</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-copyright">Copy© cirkle 2021. All Rights By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Jquery Js -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/sal.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/js/select2.min.js"></script>
    <script src="../static/js/jquery.elevatezoom.js"></script>
    <script src="../static/js/validator.min.js"></script>
    <script src="http://www.google.cn/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>

    <!-- Site Scripts -->
    <script src="../static/js/app.js"></script>
</body>

</html>
