{%extends "general_layout.html"%}
{%block content%}
<!-- Page Content -->
<div class="page-content">

    <!--=====================================-->
    <!--=        Newsfeed  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div id="user-view" class="user-grid-view">
            <div class="row gutters-20">
                {%for user in users.items%}
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="widget-author">
                            <div class="author-heading">
                                <div class="profile-img">
                                    <a href="#">
                                        <img src="/static/user_pictures/{{user.picture}}" alt="author" onerror="this.src='/static/media/figure/author_1.jpg'">
                                    </a>
                                </div>
                                <div class="profile-name">
                                    <h4 class="author-name"><a href="{{url_for('users.user',username=user.username)}}">{{user.username}}</a></h4>
                                </div>
                            </div>
                            <br>
                            <ul class="author-statistics">
                                <li>
                                    <a href="{{url_for('blogs.user_blogs',username = user.username)}}"><span class="item-number">{{user.posts |length}}</span><span class="item-text">POSTS</span></a>
                                </li>
                                <li>
                                    <a href="{{url_for('users.followers',username = user.username)}}"><span class="item-number">{{user.followers.count()}}</span> <span class="item-text">粉丝</span></a>
                                </li>
                                <li>
                                    <a href="{{url_for('users.followed_users',username = user.username)}}"><span class="item-number">{{user.followed.count()}}</span> <span class="item-text">关注</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {%endfor%}
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <footer class="footer-wrap footer-dashboard">
        <div class="main-footer">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-box">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/static/media/logo_dark.png" alt="Logo"></a>
                            </div>
                            <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Important Links
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="contact.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Community
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="newsfeed.html">NewsFeed</a></li>
                                    <li><a href="user-timeline.html">Profile</a></li>
                                    <li><a href="user-friends.html">Friends</a></li>
                                    <li><a href="user-groups.html">Groups</a></li>
                                    <li><a href="forums.html">Forums</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Followers
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="https://www.facebook.com/">facebook</a></li>
                                    <li><a href="https://twitter.com/">twitter</a></li>
                                    <li><a href="https://www.instagram.com/">instagram</a></li>
                                    <li><a href="https://www.youtube.com/">Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">Copy© cirkle 2021. All Rights By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></div>
        </div>
    </footer>



</div>
</div>
{% endblock %}

