{%extends "general_layout.html"%}
{% block content%}
<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <!-- Banner Area Start -->
        <div class="banner-user">
            <div class="banner-content">
                <div class="media">
                    <div class="item-img">
                        <!--img src="static/media/banner/user_1.jpg" alt="User"-->
                        <img src= "/static/user_pictures/{{user.picture}}" height="120" width="120">
                    </div>
                    <div class="media-body">
                        <h3 class="item-title">{{user.username}}</h3>
                        <div>
                            {%if current_user == user%}
                            {%elif current_user.is_following(user) %}
                                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('users.unfollow',username = user.username) }}">
                                    取消关注
                                </a>
                            {%else%}
                                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('users.follow',username = user.username) }}">
                                    点击关注
                                </a>
                            {%endif%}
                        </div>
                        <ul class="user-meta">
                            <li>博客数: <span>{{user.posts |length}}</span></li>
                            <li>关注: <span>{{user.followed.count()}}</span></li>
                            <li>粉丝: <span>{{user.followers.count()}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="block-box user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">兴趣爱好</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="/profile/edit">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <ul class="user-info">
                        <li>
                            <label>My Hobbies:</label>
                            <p>{{user.hobbies}}</p>
                        </li>
                        <li>
                            <label>Favourite Music Bands/Artists:</label>
                            <p>{{user.favourite_music}}</p>
                        </li>
                        <li>
                            <label>Favourite TV Shows:</label>
                            <p>{{user.favourite_tv}}</p>
                        </li>
                        <li>
                            <label>Favourite Books:</label>
                            <p>{{user.favourite_book}}</p>
                        </li>
                        <li>
                            <label>Favourite Movies:</label>
                            <p>{{user.favourite_movies}}</p>
                        </li>
                        <li>
                            <label>Other Activities:</label>
                            <p>{{user.other_activities}}</p>
                        </li>
                    </ul>
                </div>
                <div class="block-box user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">Contact Info</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <ul class="user-info">
                        <li>
                            <label>E-mail:</label>
                            <p>info@crumina.net</p>
                        </li>
                        <li>
                            <label>Phone:</label>
                            <p>+123 98566836</p>
                        </li>
                        <li>
                            <label>Address:</label>
                            <p>59 Street, Newyorkc City</p>
                        </li>
                        <li>
                            <label>Website:</label>
                            <p><a href="#">www.rebeca.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 widget-block widget-break-lg">
                <div class="widget widget-user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">About Me</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <p>Hi! My name is Rebeca Powel but some people may know me asserty GamePagla! I have a Newbike channel where I stream.</p>
                        <ul class="info-list">
                            <li><span>Joined:</span>24/12/2020</li>
                            <li><span>E-mail:</span>info@gmail.com</li>
                            <li><span>Address:</span>59 Street Neworkcity</li>
                            <li><span>Phone:</span>+123 9856836</li>
                            <li><span>Country:</span>USA</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-banner">
                    <h3 class="item-title">Most Popular</h3>
                    <div class="item-subtitle">Circle Application</div>
                    <a href="#" class="item-btn">
                        <span class="btn-text">Register Now</span>
                        <span class="btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                                <path fill-rule="evenodd" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                            </svg>
                        </span>
                    </a>
                    <div class="item-img">
                        <img src="static/media/figure/widget_banner_1.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
