{%extends "general_layout.html"%}
{%block content%}
<!-- Page Content -->
<div class="page-content">

    <!--=====================================-->
    <!--=        Newsfeed  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <!-- Banner Area Start -->
        <div class="banner-user">
            <div class="banner-content">
                <div class="media">
                    <div class="item-img">
                        <!--img src="../static/media/banner/user_1.jpg" alt="User"-->
                        <img src= "../static/user_pictures/{{current_user.picture}}" height="120" width="120">
                    </div>
                    <div class="media-body">
                        <h3 class="item-title">Rebeca Powel</h3>
                        <div class="item-subtitle">United State of America</div>
                        <ul class="item-social">
                            <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                            <li><a href="#" class="bg-youtube"><i class="icofont-brand-youtube"></i></a></li>
                            <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                        </ul>
                        <ul class="user-meta">
                            <li>Posts: <span>30</span></li>
                            <li>Comments: <span>12</span></li>
                            <li>Views: <span>1.2k</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="block-box user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">Hobbies and Interests</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <form method = "post" enctype = "multipart/form-data">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.hobbies.label}}
                            {{form.hobbies(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.music.label}}
                            {{form.music(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.tv.label}}
                            {{form.tv(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.books.label}}
                            {{form.books(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.movies.label}}
                            {{form.movies(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.acts.label}}
                            {{form.acts(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.picture.label}}
                            {{form.picture(class="form-control-file")}}
                        </div>
                        <div class="form-group">
                            {{form.submit(class="btn btn-primary")}}
                        </div>
                    </form>
                </div>
                <div class="block-box user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">Contact Info</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <ul class="user-info">
                        <li>
                            <label>E-mail:</label>
                            <p>info@crumina.net</p>
                        </li>
                        <li>
                            <label>Phone:</label>
                            <p>+123 98566836</p>
                        </li>
                        <li>
                            <label>Address:</label>
                            <p>59 Street, Newyorkc City</p>
                        </li>
                        <li>
                            <label>Website:</label>
                            <p><a href="#">www.rebeca.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 widget-block widget-break-lg">
                <div class="widget widget-user-about">
                    <div class="widget-heading">
                        <h3 class="widget-title">About Me</h3>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <p>Hi! My name is Rebeca Powel but some people may know me asserty GamePagla! I have a Newbike channel where I stream.</p>
                        <ul class="info-list">
                            <li><span>Joined:</span>24/12/2020</li>
                            <li><span>E-mail:</span>info@gmail.com</li>
                            <li><span>Address:</span>59 Street Neworkcity</li>
                            <li><span>Phone:</span>+123 9856836</li>
                            <li><span>Country:</span>USA</li>
                            <li><span>Web:</span><a href="#">www.rebeca.com</a></li>
                            <li class="social-share"><span>Social:</span>
                                <div class="social-icon">
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                    <a href="#"><i class="icofont-dribbble"></i></a>
                                    <a href="#"><i class="icofont-whatsapp"></i></a>
                                    <a href="#"><i class="icofont-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-banner">
                    <h3 class="item-title">Most Popular</h3>
                    <div class="item-subtitle">Circle Application</div>
                    <a href="#" class="item-btn">
                        <span class="btn-text">Register Now</span>
                        <span class="btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                                <path fill-rule="evenodd" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                            </svg>
                        </span>
                    </a>
                    <div class="item-img">
                        <img src="../static/media/figure/widget_banner_1.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}